BacktestConsole/.vs
BacktestConsole/BacktestConsole/bin
BacktestConsole/BacktestConsole/obj
SystematicStrategies.NUnitTesting/bin
SystematicStrategies.NUnitTesting/obj
Test/build
Test/out
BacktestConsole/Properties
tests/EvaluationScript/TestEnv/Group_4/BacktestConsole/bin/
tests/EvaluationScript/TestEnv/Group_4/BacktestConsole/obj/
tests/EvaluationScript/TestEnv/build
tests/EvaluationScript/TestEnv/out
BacktestConsole/BacktestConsole/Properties/
tests/EvaluationScript/TestEnv/Group_4/.vs/
tests/EvaluationScript/TestEnv/Group_4/BacktestConsole/Properties/
BacktestConsole/BacktestConsole/obj/
GrpcClient/.vs
GrpcClient/GrpcEvaluation/GrpcEvaluation/bin
GrpcClient/GrpcEvaluation/GrpcEvaluation/obj
GrpcClient/GrpcEvaluation/GrpcEvaluation/Properties
GrpcClient/GrpcEvaluation/.vs/
BacktestConsole/GrpcBacktestServer/bin/
BacktestConsole/GrpcBacktestServer/obj/
BacktestConsole/HeadingCalculLibrary/bin
BacktestConsole/HeadingCalculLibrary/obj 
tests/EvaluationScript/TestEnv/Group_4/GrpcBacktestServer/bin/
tests/EvaluationScript/TestEnv/Group_4/GrpcBacktestServer/obj/
tests/EvaluationScript/TestEnv/Group_4/HeadingCalculLibrary/bin/
tests/EvaluationScript/TestEnv/Group_4/HeadingCalculLibrary/obj/

tests/EvaluationScript/TestEnv/grpc/GrpcEvaluation/bin/
tests/EvaluationScript/TestEnv/grpc/GrpcEvaluation/obj/

